@font-face {
  font-family: 'SF-Pro';
  src: url("./fonts/SF-Pro-Display-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

.dark {
  --bg-main: #212121;
}

.light {
  --bg-main: #FFF;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.app {
  background: var(--bg-main);
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SF-Pro'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
